.check-switch-form {

    .onoffswitch {
        position: relative;
        width: 99px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        margin-left: auto;
        margin-right: auto
    }


    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #FFFFFF;
        border-radius: 50px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 25px;
        padding: 0;
        line-height: 25px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "TURNO";
        padding-left: 14px;
        background-color: $brand-primary;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "FOLGA";
        padding-right: 14px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

    .onoffswitch-switch {
        display: block;
        width: 28px;
        margin: -1.5px;
        background: #C4C4C4;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 70px;
        border: 2px solid #EEE;
        border-radius: 50px;
        transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:disabled + .onoffswitch-label .onoffswitch-switch {
        opacity: 0;
    }

    .onoffswitch-checkbox:disabled + .onoffswitch-label .onoffswitch-inner:before {
        padding-left: 22px !important;
    }

    .onoffswitch-checkbox:disabled + .onoffswitch-label{
        cursor:default !important;
    }

    .onoffswitch-checkbox:disabled + .onoffswitch-label .onoffswitch-inner:after {
        padding-right: 22px !important;
    }
}
